/* color #6f90b6 */


/* color hover #2e4e78 */

.sign-btn {
    background-color: #2e4e78;
    color: #fff;
    border: 3px solid #2e4e78;
    width: 15%;
    text-align: center;
}

.sign-btn:hover {
    background-color: #fff;
    color: #2e4e78;
    border: 3px solid #2e4e78;
}

.form {
    width: 40%;
    height: fit-content;
    margin: 70px 100px;
    padding: 10px;
    background-color: #fffffff2;
    border-radius: 25px;
}

.happy-background {
    padding-top: 60px;
    background-image: url("../../Images/SignUp_Background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: top;
}

.form a {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;
}

.form a:hover {
    color: #6f90b6;
}

.sign-div div {
    width: 100%;
}

#show-pass {
    text-align: end;
    width: 15%;
}

#show-login-pass {
    text-align: end;
    width: 7%;
}

.MuiAutocomplete-endAdornment {
    text-align: end;
}